.accueil {

    margin: 0;
    padding : 0;
    box-sizing: border-box;
    overflow-x : hidden;
    background-color:pink;
    color : #1F78F6;
    width: auto;
  
    
} 

.page1{
    background: linear-gradient(to right, rgba(242, 213, 15, 0.3) 0%, rgba(218, 6, 65, 0.3) 100%);
} 

/*HEADER*/
h1 {
    font-family: ubuntu;
    transform-style: preserve-3d;
    display: inline-flex;
    margin-top: ;
    margin-left: 10px;
    color: #333;
    font-weight:100px ;
    letter-spacing: 10px;
    font-size: 60px;
    cursor: pointer;
}
h1 span {
    pointer-events: none;
}


button{
    float: right;
    top: 20%;
    /*transform: translateY(-40%);*/
    height: 40px ;
    border-radius: 20%;   
    background-color: #1F78F6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
}

.header{
    display: flex;
    justify-content:space-between ;
}


a{
    color:black;
    font-style: italic ;
}

ul {
    list-style-type: none;
 }

 .menu {
    margin-right: 40px;
    padding: 0;
    
}

.menu li{
    display: inline;
    list-style: none;
   
}

.menu a{
    text-decoration: none;
    padding: 10px;
}



.jour {
    display: flex;
    flex-direction: column;
   
    
}

/*HEADER*/
/*MAIN*/

img{
    width: 50%;
    margin-left: 10%;

}

.img2{
    
   
}


.gras{
    font-weight: bold;
}

#horloge {
    border-radius : 5px;
    background : #FFCD2B;
    padding : 10px;
    margin: 10px;
}

/*MAIN*/