h1 {
    font-family: ubuntu;
    transform-style: preserve-3d;
    display: inline-flex;
    margin-top: 200px;
    color: #333;
    font-weight: 100;
    letter-spacing: 10px;
    font-size: 190px;
    cursor: pointer;
}
h1 span {
    pointer-events: none;
}
body {
    overflow-x : hidden;
    background : #F8D9D1;
    color : #1F78F6;
    margin: 10px;
    padding : 10px
    
} 

button{
    float: right;
    top: 20%;
    /*transform: translateY(-40%);*/
    height: 40px ;
    border-radius: 20%;   
    background-color: #1F78F6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:black;
}


a{
    color:black;
    font-style: italic ;
}

ul {
    list-style-type: none;
 }
.jour {
    text-align: left;
    perspective: 1000px;
}
.menu {
    width: 200px;
    margin: 0;
    padding: 0;

}

.gras{
    font-weight: bold;
}

#horloge {
    border-radius : 5px;
    background : #FFCD2B;
    padding : 10px;
    margin: 10px;
}

