h1 {
    font-family: ubuntu;
    transform-style: preserve-3d;
    display: inline-flex;
    margin-top: 200px;
    color: #333;
    font-weight: 100;
    letter-spacing: 10px;
    font-size: 190px;
    cursor: pointer;
}
h1 span {
    pointer-events: none;
}
body {
    overflow-x : hidden;
    background : #F8D9D1;
    color : #1F78F6;
    margin: 10px;
    padding : 10px
    
} 

button{
    position: absolute;
    top: 45%;
    transform: translateY(-40%);
    height: 10vh;
    border-radius: 20%;   
}

.container {
    text-align: center;
    perspective: 1000px;
}

#horloge {
    border-radius : 5px;
    background : #FFCD2B;
    padding : 10px;
    margin: 10px;
}

/* couvertre dataviz 1 */
